title {
    display: none;
}

body{
    font-family: "Red Hat Display";
    font-size: 18px;
    width: 2000;
    margin: 0px;
    background-color: #EEEEEE;
    
}
/*<style type="text/css">*/
a:link {text-decoration:none; color: black;} /* Link no visitado*/
a:visited {text-decoration:none; color: black;} /*Link visitado*/
a:active {text-decoration:none; color: black;} /*Link activo*/
a:hover {text-decoration:none; color: black;} /*Mause sobre el link*/
/*</style>*/

ul {
    
    list-style-type: none;
    margin: 0;
    margin-top: 0;
    padding: 0;
    overflow: hidden;
    background-color: #EEEEEE;
    
}

ul li{
    float: left;
}

ul li a {
    
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


ul li a:hover {
    
    background-color: #7DBBB9;
}



h2
{
    font-family: "Red Hat Display";
    font-size: 30px;
    color: #FFF;
    letter-spacing: 2px;
    font-weight:inherit;
    margin: 0px;
}

h3
{
    font-family: "Red Hat Display";
    font-size: 24px;
    color: #000000;
    font-weight:inherit;
    
}

h4
{
    font-family: "Red Hat Display";
    font-size: 30px;
    color: #000000;
    letter-spacing: 2px;
    font-weight:inherit;
    margin: 0px;
}

h5
{
    font-family: "Red Hat Display";
    font-size: 18px;
    color: #fff;
    letter-spacing: 2px;
    font-weight:inherit;
    margin: 0px;
}
/*Prueba grid*/
.grid-container {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 142px  1fr 1fr 142px;
    grid-template-rows: 98px 105px 223px 350px 485px 411px 111px 112px 91px;
  background-color: #EEEEEE;
  padding: 0px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.item1 {
  grid-column: 2 / 5;
  grid-row: 1;
}

.item2 {
  grid-column: 2 ;
  grid-row: 4;
  margin-top: 79px;
  margin-right: 136px;

}

.item8 {
    background-color: #7DBBB9;
    grid-column: 1 / 8;
    grid-row: 3 ;
    margin: 0px;
}

.item3{
 grid-row: 3;
 grid-column: 2 / 7;
 text-align: left;
 justify-self:left;
 margin-top: 96px;
 z-index: auto
}
.item6 {
  grid-column: 2 / 6;
    grid-row: 15;
    justify-self: center;
    align-self: center;
    margin-top: 
}

.item7 {
    background-color: #2A4158;
    grid-column: 3 / 7;
    grid-row: 4 / 7;
    margin: 0px;
    z-index: auto;
    padding-right: 142px;
}




.item13 {
    background-color: #508593;
    grid-column: 1;
    grid-row: 4;
    
}



/*Boton de busqueda*/
.item20 {
    grid-column: 5;
    grid-row: 1;
    justify-self: right;
    padding: 14px 16px;
    font-size: 24px;
    margin-right: 73px;
}

* {
  box-sizing: border-box;
}

/* Style the search field */
form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: right;
  width: 80%;
  background: #EEEEEE;
  border-left: none;
}

/* Style the submit button */
form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #EEEEEE;
  color: black;
  font-size: 17px;
  border: 1px solid grey;
  border-right: none; /* Prevent double borders */
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}


.borderedondeado{
    border-radius: 10px;
}

.formas{
  z-index: 2;
  grid-column: 4;
  grid-row:4;
  margin-left: 0px;
  

}

.item21{
    z-index: 2;
    margin-left: 11px;
    margin-top: 146px;
    box-sizing:border-box;
    width: 459px;
    height: 60px;
    padding-right: 70px;
    border-radius: 10px;
  
}

.item30{
    z-index: 2;
    margin-left:11px;
    margin-top: 83px;
    box-sizing:border-box;
    width: 459px;
    height: 60px;
    padding-right: 70px;
    border-radius: 10px;
   
}

.textarea {
   margin-top:245px;
    grid-column:4; 
    grid-row:5;
    margin-left: 11px;

}

.lista{
    z-index: 2;
    margin-left: 11px;
    margin-top: 83px;
    box-sizing:border-box;
    width: 459px;
    height: 290px;
    padding right: 70px;
    border-radius: 10px;
}

.option{
    text-align: center;
}
.borderedondeado1{
    border-radius: 10px;
     width: 459px;
     height: 60px;
}

.borderedondeado2 {
  border-radius: 10px;
     width: 157px;
     height: 55px; 
    color: #BBB6B6;
}
.botón{
    grid-column:4;
    grid-row:6;
    margin-top: 76px;
    margin-left: 13px;
}
.botón2{
    grid-column:4;
    grid-row:6;
    margin-top: 76px; 
    margin-left:313px ;
}
.botón3{
    grid-column: 4;
    grid-row:6;
    margin-top: 193px;
    align-self: center;
    color: #BBB6B6;
    margin-left: 13px;
}
.borderedondeado3{
    border-radius: 10px;
     width: 459px;
    height: 92px;
}

.item22 {
   grid-column: 2 / 6;
   grid-row: 14;
justify-self: center;
    align-self: center;
}


.item23 {
   grid-column: 1;
   grid-row: 1;
justify-self: center;
    align-self: center;
}

.item24 {
   grid-column: 6;
   grid-row: 1;
justify-self: center;
    align-self: center;
}

.item31{
    grid-column:4 / 6 ;
    grid-row: 4;
    margin-top: 105px;
    margin-left: 14 px;
    padding-left: 11px;
}
.item32{
    grid-column:4 / 6 ; 
    grid-row: 4;
    margin-top: 251px;
     margin-left: 14 px;
    padding-left: 11px;
}
.item33{
    grid-column:4 / 6 ;
    grid-row: 5;
    margin-top: 42px;
     margin-left: 14 px;
    padding-left: 11px;
}
.item34{
    grid-column:4 / 6 ;
    grid-row: 5;
    margin-top: 193px;
     margin-left: 14 px;
    padding-left: 11px;
}

.video1{
    grid-column:2 ;
    grid-row:5 ;
    margin-top: 188px;
    margin-right: 130px;
    
}
.video2{
    grid-column:2 ;
    grid-row:6 ;
    margin-top: 148px; 
    margin-right: 130px;
}

.tutorial1{
    grid-row: 5;
    grid-column: 2;
    margin-top: 88px;
    margin-right: 130px;
}
.tutorial2{
    grid-row: 6;
    grid-column: 2;
    margin-top: 35px ;
    margin-right: 130px;
}